<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppsLaundry"
        tools:targetApi="31">
        <activity
            android:name=".pelanggan.PelangganEditActivity"
            android:exported="false" />
        <activity
            android:name=".layanan.LayananAddActivity"
            android:exported="false" />
        <activity
            android:name=".pelanggan.PelangganAddActivity"
            android:exported="false" />
        <activity
            android:name=".PromoActivity"
            android:exported="false" />
        <activity
            android:name=".pelanggan.PelangganActivity"
            android:exported="false" />
        <activity
            android:name=".LayananActivity"
            android:exported="false" />
        <activity
            android:name=".AddLaundryActivity"
            android:exported="false" />
        <activity
            android:name=".DetailLaundryActivity"
            android:exported="false" />
        <activity
            android:name=".LaundryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            >
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>